<div class="container" id="userProfileGen">
    <div class="row justify-content-center">
        <div class="card col-10">
            <form>
                <!--email-->
                <div class="form-group">
                    <label for="userEmail">email address</label>
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="enter email">
                </div>

                <!--username-->
                <div class="form-group">
                    <small id="userNameDesc" class="form-text">you will use your username and password to login.</small>
                    <label for="userNameInput">username</label>
                    <input type="username" class="form-control" id="userNameInput" placeholder="enter a unique username.">
                </div>

                <!--password-->
                <div class="form-group">
                    <label for="passWordInput">password</label>
                    <input type="password" class="form-control" id="passWordInput" placeholder="create a password.">
                    <label for="passWordConfirm">password confirmation</label>
                    <input type="password" class="form-control" id="passWordConfirm" placeholder="please re-type your password to confirm.">
                </div>

                <!--submit button-->
                <button type="submit" class="btn" id="accountBtn">create account</button>
            </form>
        </div>
    </div>
</div>