<div class="container">
    <div class="row justify-content-center">
        <div class="card col-10">
            <form>
                <!--type-->
                <div class="form-group">
                    <label for="advSearchType">search by type</label>
                    <select class="form-control" id="advSearchType">
                        <option>movie</option>
                        <option>tv show</option>
                    </select>
                </div>

                <!--streaming services-->
                <div class="form-group">
                    <label for="advSearchStr">search by streaming service</label>
                    <select multiple class="form-control" id="advSearchStr">
                        <option>AMC+</option>
                        <option>Apple TV+</option>
                        <option>BET+</option>
                        <option>Cruncyroll</option>
                        <option>DIRECTV STREAM</option>
                        <option>Discovery+</option>
                        <option>Disney+</option>
                        <option>ESPN+</option>
                        <option>FandangoNOW</option>
                        <option>HBO Max</option>
                        <option>HIDIVE</option>
                        <option>Hulu</option>
                        <option>Netflix</option>
                        <option>Noggin</option>
                        <option>Paramount+</option>
                        <option>Peacock TV</option>
                        <option>Pluto TV</option>
                        <option>Prime Video</option>
                        <option>Showtime</option>
                        <option>Shudder</option>
                        <option>Sling TV</option>
                        <option>Starz</option>
                        <option>Sundance Now</option>
                        <option>Tubi TV</option>
                        <option>Vudu</option>
                    </select>
                </div>

                <!--populates on movie type select-->
                <div class="form-group">
                    <label for="advSearchGenMov">search by genre</label>
                    <select multiple class="form-control" id="advSearchGenMov">
                        <option>action</option>
                        <option>animation</option>
                        <option>biopic</option>
                        <option>comedy</option>
                        <option>drama</option>
                        <option>family</option>
                        <option>fantasy</option>
                        <option>horror</option>
                        <option>musical</option>
                        <option>romance</option>
                        <option>science fiction</option>
                        <option>sports</option>
                        <option>superhero</option>
                        <option>thriller</option>
                        <option>western</option>
                        <option>war</option>
                    </select>
                </div>

                <!--populates on tv type select-->
                <div class="form-group">
                    <label for="advSearchGenTv">genres</label>
                    <select multiple class="form-control" id="advSearchGenTv">
                        <option>action</option>
                        <option>anime</option>
                        <option>cartoon</option>
                        <option>children's show</option>
                        <option>comedy</option>
                        <option>cooking</option>
                        <option>courtroom drama</option>
                        <option>drama</option>
                        <option>documentary</option>
                        <option>educational</option>
                        <option>fantasy</option>
                        <option>game show</option>
                        <option>medical drama</option>
                        <option>police procedural</option>
                        <option>reality</option>
                        <option>romance</option>
                        <option>science fiction</option>
                        <option>sitcom</option>
                        <option>superhero</option>
                        <option>telenovela</option>
                        <option>variety show</option>
                        <option>western</option>
                    </select>
                </div>

                <!--rating-->
                <div class=form-group>
                    <label for="advSearchRat">entry rating</label>
                    <select multiple class="form-control" id="advSearchRat">
                        <option>1 star</option>
                        <option>1.5 stars</option>
                        <option>2 stars</option>
                        <option>2.5 stars</option>
                        <option>3 stars</option>
                        <option>3.5 stars</option>
                        <option>4 stars</option>
                        <option>4.5 stars</option>
                        <option>5 stars</option>
                    </select>
                </div>

                <!--release year-->
                <div class="form-group">
                    <label for="advSearchRel">search by release year</label>
                    <input type="date" class="form-control" id="advSearchRel">
                </div>

                <!--search button-->
                <button type="submit" class="btn" id="advSearchBtn">search</button>
            </form>
        </div>
    </div>
</div>