<!--hero-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">streamline your viewing experience</h1>
    <p class="lead">take charge of your entertainment.  with streamline, you can quickly see what's available to watch on the streaming services you use without having to flip between applications.  find an old favorite or discover something new using our advanced search.</p>
    </div>
    <div id="badgesDiv">
        <button type="button" class="btn col-1 badges">search</button>
        <button type="button" class="btn col-1 badges">add an entry</button>
    </div>
</div>

<!--
badges
<div id="badges" class="container">
    
    <div id="genres" class="row justify-content-center">
        <button type="button" class="btn col-1 genreBadges">thriller</button>
        <button type="button" class="btn col-1 genreBadges">horror</button>
        <button type="button" class="btn col-1 genreBadges">comedy</button>
        <button type="button" class="btn col-1 genreBadges">family</button>
        <button type="button" class="btn col-1 genreBadges">romance</button>
        <button type="button" class="btn col-1 genreBadges">action</button>
    </div>

    <div id="mediaType" class="row justify-content-center">
        <button type="button" class="btn col-2 typeBadges">movie</button>
        <button type="button" class="btn col-2 typeBadges">tv show</button>
    </div>
</div>
-->

<!--carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!--carousel item 1-->
    <div class="carousel-inner">
    {{#each movieShows}}
        <div class="carousel-item">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card col-8">
                        <!--image div goes here-->
                        <img src="{{image_url}}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{yearReleased}}</p>
                            <p>{{streamingservice_id}}</p>
                            <!--
                            <div class="genresCards">
                                genre badges dynamically generated here
                            </div>
                            <div class="ratingCards">
                                ratings dynamically generated here
                            </div>
                            <div class="typeCards">
                                media type badges dynamically generated here
                            </div> 
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>

<script>
    document.querySelector('.carousel-item').classList.add("active")
</script>