<div class="container" id="userLogin">
    <div class="row justify-content-center">
        <div class="card col-10">
            <form>
                <!--username-->
                <div class="form-group">
                    <label for="userNameLI">username</label>
                    <input type="username" class="form-control" id="userNameLI">
                </div>

                <!--password-->
                <div class="form-group">
                    <label for="userPassLI">password</label>
                    <input type="password" class="form-control" id="userPassLI">
                </div>

                <!--login button-->
                <button type="submit" class="btn" id="loginBtn">login</button>

                <!--logout button-->
                <button type="submit" class="btn" id="loginBtn">logout</button>

                <!--signup button-->
                {{!-- <button type="submit" class="btn" id="signupBtn">sign up</button> --}}
                <a href="/signup">sign up</a>
            </form>
        </div>
    </div>
</div>
