<!--hero-->
<div class="jumbotron jumbotron-fluid">
    <div id="badgesDiv">
        <button type="button" class="btn col-1 badges">search</button>
        <button type="button" class="btn col-1 badges">add an entry</button>
    </div>
</div>


<div id="searchResults">
    <div class="carousel-inner">
    {{#each movieShows}}
        <div class="carousel-item">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card col-8">
                        <!--image div goes here-->
                        <img src="{{image_url}}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{yearReleased}}</p>
                            <p>{{streamingservice_id}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
