<div class="container" id="userEntryForm">
    <div class="row justify-content-center">
        <div class="card col-10">
            <div id="userEntryTitle">
                <p id="userEntryP">Add an Entry</p>
            </div>
            <form>
                <!--title-->
                <div class="form-group">
                    <label for="entryTitleForm">title</label>
                    <input type="title" class="form-control" id="entryTitleForm">
                </div>

                <!--type-->
                <div class="form-group">
                    <small id="mediaTypeDesc" class="form-text">select a media type for your entry.</small>
                    <label for="mediaTypeSelect">type</label>
                    <select class="form-control" id="mediaTypeSelect">
                        <option>movie</option>
                        <option>tv show</option>
                    </select>
                </div>

                <!--streaming services entry is available on-->
                <div class="form-group">
                    <small id="strServices" class="form-text">select which streaming services your entry is available on.</small>
                    <label for="strServicesOpt">services</label>
                    <select multiple class="form-control" id="strServicesOpt">
                        <option>AMC+</option>
                        <option>Apple TV+</option>
                        <option>BET+</option>
                        <option>Cruncyroll</option>
                        <option>DIRECTV STREAM</option>
                        <option>Discovery+</option>
                        <option>Disney+</option>
                        <option>ESPN+</option>
                        <option>FandangoNOW</option>
                        <option>HBO Max</option>
                        <option>HIDIVE</option>
                        <option>Hulu</option>
                        <option>Netflix</option>
                        <option>Noggin</option>
                        <option>Paramount+</option>
                        <option>Peacock TV</option>
                        <option>Pluto TV</option>
                        <option>Prime Video</option>
                        <option>Showtime</option>
                        <option>Shudder</option>
                        <option>Sling TV</option>
                        <option>Starz</option>
                        <option>Sundance Now</option>
                        <option>Tubi TV</option>
                        <option>Vudu</option>
                    </select>
                </div>

                <!--populates on "movie" type select
                <div class="form-group">
                    <small id="movieTypeDesc" class="form-text">select a genre.</small>
                    <label for="movieGenres">genres</label>
                    <select multiple class="form-control" id="movieGenres">
                        <option>action</option>
                        <option>animation</option>
                        <option>biopic</option>
                        <option>comedy</option>
                        <option>drama</option>
                        <option>family</option>
                        <option>fantasy</option>
                        <option>horror</option>
                        <option>musical</option>
                        <option>romance</option>
                        <option>science fiction</option>
                        <option>sports</option>
                        <option>superhero</option>
                        <option>thriller</option>
                        <option>western</option>
                        <option>war</option>
                    </select>
                </div>

                populates on "tv show" type select
                <div class="form-group">
                    <small id="tvShowTypeDesc" class="form-text">select a genre.</small>
                    <label for="tvShowGenres">genres</label>
                    <select multiple class="form-control" id="tvShowGenres">
                        <option>action</option>
                        <option>anime</option>
                        <option>cartoon</option>
                        <option>children's show</option>
                        <option>comedy</option>
                        <option>cooking</option>
                        <option>courtroom drama</option>
                        <option>drama</option>
                        <option>documentary</option>
                        <option>educational</option>
                        <option>fantasy</option>
                        <option>game show</option>
                        <option>medical drama</option>
                        <option>police procedural</option>
                        <option>reality</option>
                        <option>romance</option>
                        <option>science fiction</option>
                        <option>sitcom</option>
                        <option>superhero</option>
                        <option>telenovela</option>
                        <option>variety show</option>
                        <option>western</option>
                    </select>
                </div> -->

                <!--release year-->
                <div class="form-group">
                    <label for="releaseYear">year released</label>
                    <input type="date" class="form-control" id="releaseYear">
                </div>

                <!--description-->
                <div class="form-group">
                    <label for="entryDesc">description</label>
                    <input type="text" class="form-control" id="entryDesc">
                </div>

                <!--rating-->
                <div class="form-group">
                    <small id="ratingDesc" class="form-text">select a rating for your entry.</small>
                    <label for="ratingSelect">rating</label>
                    <select class="form-control" id="ratingSelect">
                        <option>1 star</option>
                        <option>1.5 stars</option>
                        <option>2 stars</option>
                        <option>2.5 stars</option>
                        <option>3 stars</option>
                        <option>3.5 stars</option>
                        <option>4 stars</option>
                        <option>4.5 stars</option>
                        <option>5 stars</option>
                    </select>
                </div>

                <!--populates based on selected rating-->
                <div id="ratingStars">
                    <!--
                        <option id="oneStar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="oneAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="twoStars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="twoAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="threeStars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="threeAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="fourStars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="fourAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </option>
                        <option id="fiveStars">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                    -->
                </div>

                <!--image upload; needs additional JS-->
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">choose file</label>
                </div>

                <button type="submit" class="btn" id="entryFormBtn">submit</button>
            </form>
        </div>
    </div>
</div>