<div class="container" id="userEntryForm">
    <div class="row justify-content-center">
        <div class="card col-10">
            <div id="userEntryTitle">
                <p id="userEntryP">add an entry</p>
            </div>
            <form id="newPostForm">
                <!--title-->
                <div class="form-group">
                    <label for="entryTitleForm" id="entryTitleFormLab">title:</label>
                    <input type="title" class="form-control" id="entryTitleForm">
                </div>

                {{!-- AA - commenting out - future feature --}}
                <!--type-->
                {{!-- <div class="form-group">
                    <small id="mediaTypeDesc" class="form-text">select a media type for your entry.</small>
                    <label for="mediaTypeSelect">type:</label>
                    <select class="form-control" id="mediaTypeSelect">
                        <option>movie</option>
                        <option>tv show</option>
                    </select>
                </div> --}}

                <!--streaming services entry is available on-->
                <div class="form-group">
                    <small id="strServices" class="form-text">select which streaming services your entry is available on:</small>
                    {{!-- <label for="strServicesOpt">services</label> --}}
                    <select multiple class="form-control" id="strServicesOpt">
                            <option value="1">AMC+</option>
                        <option value="2">Apple TV+</option>
                        <option value="3">BET+</option>
                        <option value="4">Crunchyroll</option>
                        <option value="5">DIRECTV STREAM</option>
                        <option value="6">Discovery+</option>
                        <option value="7">Disney+</option>
                        <option value="8">ESPN+</option>
                        <option value="9">FandangoNOW</option>
                        <option value="10">HBO Max</option>
                        <option value="11">HIDIVE</option>
                        <option value="12">Hulu</option>
                        <option value="13">Netflix</option>
                        <option value="14">Noggin</option>
                        <option value="15">Paramount+</option>
                        <option value="16">Peacock TV</option>
                        <option value="17">Pluto TV</option>
                        <option value="18">Prime Video</option>
                        <option value="19">Showtime</option>
                        <option value="20">Shudder</option>
                        <option value="21">Sling TV</option>
                        <option value="22">Starz</option>
                        <option value="23">Sundance Now</option>
                        <option value="24">Tubi TV</option>
                        <option value="25">Vudu</option>
                    </select>
                </div>

                {{!-- Cloudinary Widget --}}
                <div class="form-group">
                    <small id="image_url" class="form-text">upload a movie or show image here:</small>
                        {{!-- <input name="upload_img" /> --}}
                        <button id="upload_widget" class="cloudinary-button" type="button">upload files</button>
                </div>

                <!--populates on "movie" type select-->
                <div class="form-group" id="genreContainer">
                    <small id="movieTypeDesc" class="form-text">select a genre:</small>
                    {{!-- <label for="movieGenres">genres:</label> --}}
                    <select multiple class="form-control" id="movieGenres">
                        <option>action</option>
                        <option>animation</option>
                        <option>anime</option>
                        <option>biopic</option>
                        <option>cartoon</option>
                        <option>comedy</option>
                        <option>cooking</option>
                        <option>courtroom drama</option>
                        <option>documentary</option>
                        <option>docuseries</option>
                        <option>drama</option>
                        <option>educational</option>
                        <option>family</option>
                        <option>fantasy</option>
                        <option>game show</option>
                        <option>horror</option>
                        <option>kids</option>
                        <option>medical drama</option>
                        <option>musical</option>
                        <option>police procedural</option>
                        <option>reality</option>
                        <option>romance</option>
                        <option>romcom</option>
                        <option>science fiction</option>
                        <option>sitcom</option>
                        <option>soap</option>
                        <option>sports</option>
                        <option>superhero</option>
                        <option>telenovela</option>
                        <option>thriller</option>
                        <option>variety show</option>
                        <option>western</option>
                        <option>war</option>
                    </select>
                </div>

                <!--rating-->
                <div class="form-group">
                    <small id="ratingDesc" class="form-text">select a rating for your entry:</small>
                    {{!-- <label for="ratingSelect">rating</label> --}}
                    <select class="form-control" id="ratingSelect">
                     <option value="1">1 star</option>
                        <option value="1.5">1.5 stars</option>
                        <option value="2">2 stars</option>
                        <option value="2.5">2.5 stars</option>
                        <option value="3">3 stars</option>
                        <option value="3.5">3.5 stars</option>
                        <option value="4">4 stars</option>
                        <option value="4.5">4.5 stars</option>
                        <option value="5">5 stars</option>
                    </select>
                </div>

                <!--release year-->
                <div class="form-group">
                    <label for="datepicker" id="releaseYearLab">year released:</label>
                    <input type="number" min="1900" max="2099" step="1" id="datepicker" />
                </div>

                {{!-- AA - this is a feature --}}
                <!--populates based on selected rating-->
                <div id="ratingStars">
                    <!--
                        <option id="oneStar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="oneAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="twoStars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="twoAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="threeStars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="threeAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="fourStars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                        <option id="fourAndHalf">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </option>
                        <option id="fiveStars">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </option>
                    -->
                </div>


                <button type="submit" class="btn" id="entryFormBtn">submit</button>
            </form>
        </div>
    </div>
</div>

   <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="js/new-entry.js"></script>