:root {
    --lightGray: #D0D6CE;
    --cadetGray: #A0ADB1;
    --slateGray: #718494;
    --bdazzledBlue: #415A77;
    --oxfordBlue: #1B263B;
    --richBlack: #0D1B2A;
    --bodyFont: 'Quicksand', sans-serif;
}

/* header */
#navBar {
    background-color: var(--oxfordBlue);
    font-family: var(--bodyFont);
}

#navTitle {
    font-size: 30px;
}

nav div ul li {
    font-size: 18px;
}

.nav-link, .navbar-brand {
    color: var(--cadetGray);
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--slateGray);
}

.dropdown-menu {
    background-color: var(--slateGray);
}

.dropdown-item {
    color: var(--oxfordBlue);
    transition-duration: 0.3s;
}

.dropdown-item:hover {
    background-color: var(--lightGray);
    color: var(--oxfordBlue);
}

.navSearchInput {
    background-color: var(--lightGray);
    color: var(--oxfordBlue)
}

.navSearch {
    background-color: var(--slateGray);
    color: var(--oxfordBlue);
    transition-duration: 0.3s;
}

.navSearch:hover {
    background-color: var(--bdazzledBlue);
    color: var(--lightGray);
}

/* jumbotron */
.jumbotron {
    background-color: var(--bdazzledBlue);
    color: var(--lightGray);
    margin-bottom: 20px;
    font-family: var(--bodyFont);
    padding: 30px 0px;
}

#heroTitleDiv {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
}

#logoImg {
    height:200px;
}

/* carousel cards */
.carousel {
    font-family: var(--bodyFont);
}

/*forms*/
#userEntryForm, #searchFormContainer, #userLogin, #userProfileGen {
    margin-top: 40px;
}

#userEntryP, #searchFormTitle, #loginTitle, #createAccountTitle {
    font-size: 30px;
}

#entryTitleFormLab, #mediaTypeDesc, #strServices, #image_url, #movieTypeDesc, #releaseYearLab, #advSearchStrLab, #advSearchGenMovLab, #advSearchRatLab, #advSearchRelLab, #userNameLILab, #userPassLILab, #signupP, #userNameInputLab, #passWordInputLab, #ratingDesc {
    font-size: 18px;
}

#userEntryForm, #userProfileGen, #userLogin, #searchFormContainer {
    font-family: var(--bodyFont);
}

form, .card {
    background-color: var(--slateGray);
}

#mediaTypeDesc, #movieTypeDesc, #tvShowTypeDesc, #ratingDesc {
    color: var(--oxfordBlue);
}

#entryTitleForm, #mediaTypeSelect, #movieGenres, #tvShowGenres, #releaseYear, #ratingSelect, .custom-file-label {
    color: var(--oxfordBlue);
}


/*buttons*/
#entryFormBtn, #accountBtn, #loginBtn, #logoutBtn, #upload_widget, #advSearchBtn, #signupBtn {
    margin: 10px 0;
    background-color: var(--oxfordBlue);
    color: var(--lightGray);
    transition-duration: 0.3s;
    border: none;
    box-shadow: none;
    height: 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#entryFormBtn:hover, #accountBtn:hover, #loginBtn:hover, #logoutBtn:hover, #upload_widget:hover, #advSearchBtn:hover, #signupBtn:hover {
    background-color: var(--lightGray);
    color: var(--oxfordBlue);
    border: none;
    box-shadow: none;
}

#signupBtnLink, #homeSearchLink, #homeEntryLink {
    text-decoration: none;
    color: var(--lightGray);
}

#signupBtnLink:hover, #homeSearchLink:hover, #homeEntryLink:hover {
    color: var(--oxfordBlue);
}

/* badges */
#badges {
    font-family: var(--bodyFont);
}

#badgesDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 80px;
}

.badges {
    background-color: var(--oxfordBlue);
    color: var(--lightGray);
    transition-duration: 0.3s;
    border: none;
    box-shadow: none;
    font-size: 18px;
    margin: 0px 10px;
}

.badges:hover {
    background-color: var(--lightGray);
    color: var(--oxfordBlue);
    border: none;
    box-shadow: none;
} 

#homeSearchBtn, #homeEntryBtn {
    width: 200px;
}

/*footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--oxfordBlue);
}

#ghLink {
    color: var(--cadetGray);
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 15px;
}

/*results*/
#results {
    font-family: var(--bodyFont);
    color: var(--oxfordBlue);
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}